body { 

    margin: 0px;
    padding: 0px;
    background-color: #6667AB;
    height: 150vh;
}
.clearfix{clear:both;}
.caja-CV{
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    background-color: white;

}
.caja-externa{
    padding: 30px;

}
.caja-1{
    background-color: #26252D;
    width: 35% ;
    float: left;
    height:1000px

}

.caja-2{
    width: 60%;
    float: left;
    padding: 20px;


}
.image-profile{
    margin: 5px 5px;
    width:97%;
    box-shadow: 2px 2px 1px #2d2d2e;
    -moz-box-shadow: 2px 2px 1px #2d2d2e;
    -webkit-box-shadow:2px 2px 1px #2d2d2e;
    border-radius: 2%;

    

}
.name{display:inline}
ul{
    color: #ceced1;
    font-family: system-ui, sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.contenido{
    padding: 20px;
}

    h1{
        color: #ceced1;
        font-family: system-ui,sans-serif;
        font-weight: 300;
        margin: 40px 15px ;
    
    }


p{ color: #ceced1;
    margin: 20px 20px;
    font-family: system-ui, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.introduction{text-align: center;}
.introduction h1{
    font-size: 40px;
    font-weight: bold;
    color: #26252d;  
}
.hr{height: 15px;
    border:none;
    background-color: #FDBCB4;
    margin: -45px 20px;
}
.intro-p{color: #7d7d7d;
font-family: system-ui, sans-serif;
font-weight:400;
font-size: 15px;
margin-top: 13%!important;
}
.intro p{color: #7d7d7d;
    font-family: system-ui, sans-serif;
    font-weight:400;
    font-size: 15px;
    margin-top: -5px;
    }

.contenido-2{
    padding-top: 1px;
}
.head {
    color: #26252d;
    font-family: system-ui,sans-serif;
    font-weight:400;
    text-transform:uppercase;
    margin:0px
}
.exp-1 {
    font-size:13px;
    text-transform: uppercase;
    color: #26252d;
    font-weight:400;
    margin: 5px 0px ;
    margin-top:10px;
}
.exp-2 {
    font-size:12px;
    color: #7d7d7d;
    font-weight:400;
    margin-bottom: 20px ;
    margin-left: 0px;
    margin-top: 5px;
}